.about {
  &__photo {
    &__dark {
      grid-row: 3;
      grid-column: 1/2;
      background-image: url(/images/image-about-dark.jpg);

      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      @include breakpoint-up(medium) {
        grid-row: 2;
        grid-column: 2/3;
      }
      @include breakpoint-up(large) {
        grid-column: 1/4;
        grid-row: 3/4;
      }
    }
    &__light {
      grid-row: 5;
      grid-column: 1/2;
      background-image: url(/images/image-about-light.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      @include breakpoint-up(medium) {
        grid-row: 3;
      }
      @include breakpoint-up(large) {
        grid-column: 8/11;
        grid-row: 3/4;
      }
    }
  }
  &__text {
    grid-row: 4/5;
    grid-column: 1/2;
    @include breakpoint-up(medium) {
      grid-row: 3;
      grid-column: 2/3;
    }
    @include breakpoint-up(large) {
      grid-column: 4/8;
      grid-row: 3/4;
    }

    .container {
      h3 {
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        margin-bottom: 1.5rem;
        @include breakpoint-up(large) {
          margin-bottom: 1rem;
        }
      }
      p {
        color: $darkGray;
        line-height: 1.8;
        font-size: 0.9rem;
        @include breakpoint-up(large) {
        }
      }
      @include breakpoint-up(large) {
        padding: 4.5rem 3rem;
      }
    }
  }
}
